
<form class="aborea-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header item-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1><input name="name" type="text" value="{{item.name}}" /></h1>
      <p>{{item.type}}</p>
    </div>
  </header>

  <section class="panel">
    {{#if (aboreaEq item.type "weapon")}}
      <label>{{localize "ABOREA.WeaponSkill"}} <input type="text" name="system.skill" value="{{system.skill}}" /></label>
      <label>{{localize "ABOREA.Damage"}} <input type="number" name="system.damage" value="{{system.damage}}" /></label>
      <label>{{localize "ABOREA.Range"}} <input type="text" name="system.range" value="{{system.range}}" /></label>
      <label>{{localize "ABOREA.InitiativeMod"}} <input type="number" name="system.initiative" value="{{system.initiative}}" /></label>
      <label>{{localize "ABOREA.MinStrength"}} <input type="number" name="system.minStrength" value="{{system.minStrength}}" /></label>
      <label><input type="checkbox" name="system.equipped" {{checked system.equipped}} /> {{localize "ABOREA.Equipped"}}</label>
    {{/if}}

    {{#if (aboreaEq item.type "armor")}}
      <label>{{localize "ABOREA.ArmorValue"}} <input type="number" name="system.armor" value="{{system.armor}}" /></label>
      <label>{{localize "ABOREA.ManeuverMod"}} <input type="number" name="system.maneuverMod" value="{{system.maneuverMod}}" /></label>
      <label>{{localize "ABOREA.MinStrength"}} <input type="number" name="system.minStrength" value="{{system.minStrength}}" /></label>
      <label><input type="checkbox" name="system.equipped" {{checked system.equipped}} /> {{localize "ABOREA.Equipped"}}</label>
    {{/if}}

    {{#if (aboreaEq item.type "spell")}}
      <label>{{localize "ABOREA.List"}} <input type="text" name="system.list" value="{{system.list}}" /></label>
      <label>{{localize "ABOREA.Rank"}} <input type="number" name="system.rank" value="{{system.rank}}" /></label>
      <label>{{localize "ABOREA.MPCost"}} <input type="number" name="system.cost" value="{{system.cost}}" /></label>
      <label>{{localize "ABOREA.Range"}} <input type="text" name="system.range" value="{{system.range}}" /></label>
      <label>{{localize "ABOREA.Duration"}} <input type="text" name="system.duration" value="{{system.duration}}" /></label>
      <label>{{localize "ABOREA.Description"}} <textarea name="system.description">{{system.description}}</textarea></label>
    {{/if}}

    {{#if (aboreaEq item.type "miracle")}}
      <label>{{localize "ABOREA.List"}} <input type="text" name="system.list" value="{{system.list}}" /></label>
      <label>{{localize "ABOREA.Rank"}} <input type="number" name="system.rank" value="{{system.rank}}" /></label>
      <label>{{localize "ABOREA.MPCost"}} <input type="number" name="system.cost" value="{{system.cost}}" /></label>
      <label>{{localize "ABOREA.Range"}} <input type="text" name="system.range" value="{{system.range}}" /></label>
      <label>{{localize "ABOREA.Duration"}} <input type="text" name="system.duration" value="{{system.duration}}" /></label>
      <label>{{localize "ABOREA.Description"}} <textarea name="system.description">{{system.description}}</textarea></label>
    {{/if}}

    {{#if (aboreaEq item.type "race")}}
      <label>{{localize "ABOREA.Special"}} <textarea name="system.special">{{system.special}}</textarea></label>
      <label>{{localize "ABOREA.Restrictions"}} <input type="text" name="system.restrictions" value="{{system.restrictions}}" /></label>
      <div class="combat-grid">
        {{#each system.mods as |value key|}}
        <label>{{key}} <input type="number" name="system.mods.{{key}}" value="{{value}}" /></label>
        {{/each}}
      </div>
    {{/if}}

    {{#if (aboreaEq item.type "class")}}
      <label>{{localize "ABOREA.HPBase"}} <input type="number" name="system.hitPointsBase" value="{{system.hitPointsBase}}" /></label>
      <label>{{localize "ABOREA.MagicAttribute"}} <input type="text" name="system.magicAttribute" value="{{system.magicAttribute}}" /></label>
      <label>{{localize "ABOREA.Description"}} <textarea name="system.description">{{system.description}}</textarea></label>
    {{/if}}

    {{#if (aboreaEq item.type "gear")}}
      <label>{{localize "ABOREA.Quantity"}} <input type="number" name="system.quantity" value="{{system.quantity}}" /></label>
      <label>{{localize "ABOREA.Weight"}} <input type="number" step="0.1" name="system.weight" value="{{system.weight}}" /></label>
      <label>{{localize "ABOREA.Cost"}} <input type="text" name="system.price" value="{{system.price}}" /></label>
      <label>{{localize "ABOREA.Description"}} <textarea name="system.description">{{system.description}}</textarea></label>
    {{/if}}

    {{#if (aboreaEq item.type "god")}}
      <label>{{localize "ABOREA.Pantheon"}} <input type="text" name="system.pantheon" value="{{system.pantheon}}" /></label>
      <label>{{localize "ABOREA.Rank"}} <input type="text" name="system.rank" value="{{system.rank}}" /></label>
      <label>{{localize "ABOREA.Aspects"}} <input type="text" name="system.aspects" value="{{system.aspects}}" /></label>
      <label>{{localize "ABOREA.Weapon"}} <input type="text" name="system.weapon" value="{{system.weapon}}" /></label>
      <label>{{localize "ABOREA.Symbol"}} <input type="text" name="system.symbol" value="{{system.symbol}}" /></label>
      {{#if system.miracleList}}
      <label>{{localize "ABOREA.MiracleList"}} <input type="text" name="system.miracleList" value="{{system.miracleList}}" readonly /></label>
      {{/if}}
      <label>{{localize "ABOREA.Description"}} <textarea name="system.description">{{system.description}}</textarea></label>
    {{/if}}
  </section>
</form>
